.container{
	width:360px;
	height:200px;
	background-color:rgb(200,230,240);
	border-radius:65px;
	border:5px solid black;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
}

.red,.green,.yellow{
	border-radius:100%;
	width:90px;
	height:90px;	
}
